.header{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-style:solid ;
    border-color: rgb(203, 203, 203);
    border-width: 1px;
}

.left-section{
    margin-left: 30px;
    width: 200px;
}


.middle-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.search-icon{
    width: 20px;
    height: 20px;
}

.search-button{
    height: 40px;
    border-style: none;
    border-radius: 4px;
    margin-left: -40px;
    padding-left: 10px;
    padding-right: 10px;
}

.bar{
    width: 350px;
    border-radius: 4px;
    border-style: none;
    height: 40px;
    padding-left: 10px;

}

.bar::placeholder{
    font-size: 14px;
    border-style: none;
}

.bar:active{
    border-style: none;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 200px;

}

.Sign-Up{
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

.Sign-Up:hover{
    border-color: white;
    background-color: white;
    color: rgb(161, 65, 250);
    transition: 0.15s;
}

.Sign-Up:active{
    opacity: 0.4;
}

.Login{
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

.Login:hover{
    color: rgb(161, 65, 250);
    transition: 0.15s;
}

.Login:active{
opacity: 0.4;
}

.cart-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: black;
    cursor: pointer;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.Shopping-Cart{
    width: 30px;
    height: 30px;
    display: block;
    display: block;
}

.cart-number{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    border-radius: 10px;
    color: white;
}

.right-section a {
    text-decoration: none;
    color: inherit; 
    display: flex;
    align-items: center;
}

.Sign-Up {
    border: 1px solid black;
    border-radius: 4px; 
}