.product-grid{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.lightblue{
    background-color: white;
    height: 350px;
    width: 250px;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.lightpink{
    background-color: white;
    height: 350px;
    width: 250px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.discount{
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    color: white;
    font-weight: 500;
}

.sidebar{
    position:fixed;
    top: 0;
    left: 0;
    height: 4000px;
    width: 200px;
    background-color: green;
    color: white;
}

.itemcontainer{
    position: relative;
}

.item{
    background-color: white;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.itemcontainer .add{
    position: absolute;
    background-color: gray;
    color: white;
    bottom: 2px;
    width: 250px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0;
    font-weight: bold;
}

.itemcontainer:hover .add{
    opacity: 0.9;
    cursor: pointer;
}

.discountedprice{
    color: rgb(84, 32, 133);
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}

.originalprice{
    color: gray;
    display: inline-block;
    text-decoration: line-through;
}